<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <div class="container pt-4">
    <section class="mb-4">
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button" data-mdb-ripple-color="dark">
        <img src="assets\img\icon-facebook.png" alt="Icone">
      </a>
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button" data-mdb-ripple-color="dark">
        <img src="assets\img\icon-instagram.png" alt="Icone">
      </a>
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#" role="button" data-mdb-ripple-color="dark">
        <img src="assets\img\icon-linkedin.png" alt="Icone">
      </a>
    </section>
  </div>
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright
    <a class="text-dark" href="#">LH Vagas</a>
  </div>
</footer>