body {
  font-family: sans-serif;
  background-color: #fadcdd;
  width: 996px;
  height: 616px;
  box-sizing: border-box;
}

.banner img {
  max-width: 100%;
  height: auto;
}

table,
th,
td,
caption {
  border: 1px solid #999999;
  border-collapse: collapse;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 16px;
}

img {
  width: 100%;
}

h1 {
  font-size: 24px;
}

a {
  color: #e4494e;
  text-decoration: none;
  font-weight: bold;
}

th,
td {
  padding: 16px;
}
