@media (max-width: 768px) {
    .s-hero h1 {
        font-size: 38px;
        line-height: 44px;
        letter-spacing: -0.022em;
    }
    
    .s-hero p {
        font-size: 1.5rem;
        max-width: 200px;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .s-anuncios {
        padding: 3rem 0;
        text-align: center;
    }

    .s-anuncios h2 {
        font-size: 28px;
        text-align: center;
    }

    footer {
        height: auto;
        text-align: center;
        padding: 2rem 0;
    }

    footer h3 {
        margin: 1rem 0;
    }
}